In [1]:
import pandas as pd
import numpy as np

In [2]:
dfi = pd.read_csv("data_init.csv")
print(dfi)

        id  age     sex     bmi  children smoker     region      charges
0        0   19  female  27.900         0    yes  southwest  16884.92400
1        1   18    male  33.770         1     no  southeast   1725.55230
2        2   28    male  33.000         3     no  southeast   4449.46200
3        3   33    male  22.705         0     no  northwest  21984.47061
4        4   32    male  28.880         0     no  northwest   3866.85520
...    ...  ...     ...     ...       ...    ...        ...          ...
1333  1333   50    male  30.970         3     no  northwest  10600.54830
1334  1334   18  female  31.920         0     no  northeast   2205.98080
1335  1335   18  female  36.850         0     no  southeast   1629.83350
1336  1336   21  female  25.800         0     no  southwest   2007.94500
1337  1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 8 columns]

In [3]:
dft_join = dfi["id"]
print(dft_join)

0          0
1          1
2          2
3          3
4          4
        ...
1333    1333
1334    1334
1335    1335
1336    1336
1337    1337
Name: id, Length: 1338, dtype: int64

In [4]:
dfiSouth = dfi[(dfi["region"] == "southwest") | (dfi["region"] == "southeast")]
dfiSouth = dfiSouth.sort_values(by=["charges"])
dfiSouthYoung = dfiSouth[dfiSouth["age"] < 31]
dfiSouthMid = dfiSouth[(dfiSouth["age"] < 46) & (dfiSouth["age"] >= 31)]
dfiSouthOld = dfiSouth[dfiSouth["age"] >= 46]
print(dfiSouth)

        id  age     sex    bmi  children smoker     region      charges
940    940   18    male  23.21         0     no  southeast   1121.87390
808    808   18    male  30.14         0     no  southeast   1131.50660
1244  1244   18    male  33.33         0     no  southeast   1135.94070
663    663   18    male  33.66         0     no  southeast   1136.39940
22      22   18    male  34.10         0     no  southeast   1137.01100
...    ...  ...     ...    ...       ...    ...        ...          ...
1241  1241   64    male  36.96         2    yes  southeast  49577.66240
34      34   28    male  36.40         1    yes  southwest  51194.55914
1146  1146   60    male  32.80         0    yes  southwest  52590.82939
1300  1300   45    male  30.36         0    yes  southeast  62592.87309
543    543   54  female  47.41         0    yes  southeast  63770.42801

[689 rows x 8 columns]

In [5]:
dfiNorth = dfi[(dfi["region"] == "northwest") | (dfi["region"] == "northeast")]
dfiNorth = dfiNorth.sort_values(by=["charges"])
dfiNorthYoung = dfiNorth[dfiNorth["age"] < 31]
dfiNorthMid = dfiNorth[(dfiNorth["age"] < 46) & (dfiNorth["age"] >= 31)]
dfiNorthOld = dfiNorth[dfiNorth["age"] >= 46]
print(dfiNorth)

        id  age     sex     bmi  children smoker     region      charges
410    410   19    male  17.480         0     no  northwest   1621.34020
35      35   19    male  20.425         0     no  northwest   1625.43375
747    747   19    male  21.755         0     no  northwest   1627.28245
943    943   19    male  22.610         0     no  northwest   1628.47090
464    464   19    male  25.175         0     no  northwest   1632.03625
...    ...  ...     ...     ...       ...    ...        ...          ...
330    330   61  female  36.385         1    yes  northeast  48517.56315
281    281   54    male  40.565         3    yes  northeast  48549.17835
819    819   33  female  35.530         0    yes  northwest  55135.40209
577    577   31  female  38.095         1    yes  northeast  58571.07448
1230  1230   52    male  34.485         3    yes  northwest  60021.39897

[649 rows x 8 columns]

In [6]:
dfiNorthFinalS = pd.concat([dfiNorthYoung, dfiNorthMid, dfiNorthOld])
dfiSouthFinalS = pd.concat([dfiSouthYoung, dfiSouthMid, dfiSouthOld])
dfiFinalS = pd.concat([dfiNorthFinalS, dfiSouthFinalS])
print(dfiFinalS)

        id  age     sex     bmi  children smoker     region      charges
410    410   19    male  17.480         0     no  northwest   1621.34020
35      35   19    male  20.425         0     no  northwest   1625.43375
747    747   19    male  21.755         0     no  northwest   1627.28245
943    943   19    male  22.610         0     no  northwest   1628.47090
464    464   19    male  25.175         0     no  northwest   1632.03625
...    ...  ...     ...     ...       ...    ...        ...          ...
175    175   63  female  37.700         0    yes  southwest  48824.45000
1062  1062   59    male  41.140         1    yes  southeast  48970.24760
1241  1241   64    male  36.960         2    yes  southeast  49577.66240
1146  1146   60    male  32.800         0    yes  southwest  52590.82939
543    543   54  female  47.410         0    yes  southeast  63770.42801

[1338 rows x 8 columns]

In [7]:
dfa = pd.read_csv("anon.csv")
print(dfa)

      Unnamed: 0    id  age     sex        bmi  children smoker     region  \
0              0     0   21  female  23.555344         3     no  southwest
1              1     1   18    male  31.957964         0     no  southeast
2              2     2   28    male  32.088361         5     no  southeast
3              3     3   31  female  28.021057         2     no  northeast
4              4     4   31    male  29.355895         5     no  southwest
...          ...   ...  ...     ...        ...       ...    ...        ...
1333        1333  1333   49    male  26.907442         0     no  southwest
1334        1334  1334   27  female  30.896350         0    yes  northeast
1335        1335  1335   18  female  38.529267         5     no  northeast
1336        1336  1336   20  female  22.285817         0     no  northeast
1337        1337  1337   54  female  30.741534         0     no  northeast

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 9 columns]

In [15]:
dfaSouth = dfa[(dfi["region"] == "southwest") | (dfi["region"] == "southeast")]
dfaSouth = dfaSouth.sort_values(by=["charges"])
dfaSouthYoung = dfaSouth[dfaSouth["age"] == 18]
dfaSouthMid = dfaSouth[dfaSouth["age"] == 31]
dfaSouthOld = dfaSouth[dfaSouth["age"] == 46]
print(dfaSouth.head())

Empty DataFrame
Columns: [Unnamed: 0, id, age, sex, bmi, children, smoker, region, charges]
Index: []

In [21]:
dfaNorth = dfa[(dfi["region"] == "northwest") | (dfi["region"] == "northeast")]
dfaNorth = dfaNorth.sort_values(by=["charges"])
dfaNorthYoung = dfaNorth[dfaNorth["age"] == 18]
dfaNorthMid = dfaNorth[dfaNorth["age"] == 31]
dfaNorthOld = dfaNorth[dfaNorth["age"] == 46]
print(dfaNorthYoung.head())

        id  age   sex        bmi  children smoker region  charges
1195  1195   18  male  21.631821         0     no  North     1513
972    972   18  male  35.930507         1     no  North     1519
746    746   18  male  22.824294         1     no  North     1521
84      84   18  male  30.940850         1     no  North     1547
1190  1190   18  male  25.138428         0     no  North     1548

In [22]:
dfaNorthFinalS = pd.concat([dfaNorthYoung, dfaNorthMid, dfaNorthOld])
dfaSouthFinalS = pd.concat([dfaSouthYoung, dfaSouthMid, dfaSouthOld])
dfaFinalS = pd.concat([dfaNorthFinalS, dfaSouthFinalS])
print(dfaFinalS.head(15))

        id  age   sex        bmi  children smoker region  charges
1195  1195   18  male  21.631821         0     no  North     1513
972    972   18  male  35.930507         1     no  North     1519
746    746   18  male  22.824294         1     no  North     1521
84      84   18  male  30.940850         1     no  North     1547
1190  1190   18  male  25.138428         0     no  North     1548
1132  1132   18  male  17.738495         1     no  North     1575
374    374   18  male  25.129522         0     no  North     1581
443    443   18  male  23.725217         0     no  North     1584
1250  1250   18  male  28.299030         1     no  North     1625
647    647   18  male  26.687029         1     no  North     1651
734    734   18  male  31.131954         1     no  North     1651
624    624   18  male  20.634265         0     no  North     1666
573    573   18  male  16.471913         0     no  North     1678
813    813   18  male  21.338097         1     no  North     1694
1276  1276   18  male  28.254478         0     no  North     1712

In [23]:
print(dfiFinalS.head(15))

        id  age   sex     bmi  children smoker     region     charges
410    410   19  male  17.480         0     no  northwest  1621.34020
35      35   19  male  20.425         0     no  northwest  1625.43375
747    747   19  male  21.755         0     no  northwest  1627.28245
943    943   19  male  22.610         0     no  northwest  1628.47090
464    464   19  male  25.175         0     no  northwest  1632.03625
133    133   19  male  25.555         0     no  northwest  1632.56445
349    349   19  male  27.835         0     no  northwest  1635.73365
195    195   19  male  30.590         0     no  northwest  1639.56310
581    581   19  male  30.590         0     no  northwest  1639.56310
559    559   19  male  35.530         0     no  northwest  1646.42970
172    172   18  male  15.960         0     no  northeast  1694.79640
1212  1212   18  male  21.470         0     no  northeast  1702.45530
295    295   18  male  22.990         0     no  northeast  1704.56810
1041  1041   18  male  23.085         0     no  northeast  1704.70015
121    121   18  male  23.750         0     no  northeast  1705.62450

In [24]:
dfiIndexJoin = dfiFinalS.iloc[:, [0]]
dfiIndexJoin = dfiIndexJoin.reset_index(drop="True")
dfaIndexJoin = dfaFinalS.iloc[:, [0]]
dfaIndexJoin.columns = ["Id Final"]
dfaIndexJoin = dfaIndexJoin.reset_index(drop="True")
dfIndexJoin = pd.concat([dfiIndexJoin, dfaIndexJoin], axis = 1) 
dfIndexJoin =dfIndexJoin.sort_values(by="Id Final")
dfIndexJoin.columns = ["Id Supposé Initial", "Id Anonym"]
dfIndexJoin = dfIndexJoin.reset_index(drop="True")
print(dfIndexJoin)

      Id Supposé Initial  Id Anonym
0                    652          0
1                      4          1
2                   1323          2
3                    843          3
4                    604          4
...                  ...        ...
1333                 274       1333
1334                 801       1334
1335                  88       1335
1336                 742       1336
1337                 392       1337

[1338 rows x 2 columns]

In [25]:
dfIndex = pd.read_csv("index_join.csv")
dfIndex["Id Supp Initial"] = dfIndexJoin["Id Supposé Initial"]
dfIndex["Match"] = np.where(dfIndex["Id Initial"] == dfIndex["Id Supp Initial"], True, False)
print(dfIndex)

      Id Initial  Id Anonym  Id Supp Initial  Match
0            652          0              652   True
1            519          1                4  False
2           1323          2             1323   True
3            843          3              843   True
4            604          4              604   True
...          ...        ...              ...    ...
1333         972       1333              274  False
1334         768       1334              801  False
1335          88       1335               88   True
1336         742       1336              742   True
1337         744       1337              392  False

[1338 rows x 4 columns]

In [26]:
dfMatch = dfIndex[dfIndex["Match"]== True]
print(dfMatch.shape[0]/dfIndex.shape[0])

0.30194319880418535